.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #171B36, #3c426d);
}

.weather-card {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 36px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4facfe;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #009ffd;
}

.weather-info {
  margin-top: 20px;
}

.weather-info h2 {
  color: #222;
  margin-bottom: 10px;
}

.weather-info p {
  font-size: 18px;
  color: #555;
}

.loading {
  color: #0077ff;
  margin-top: 15px;
}

.error {
  color: red;
  margin-top: 15px;
}

